@import "tailwindcss";

:root {
  --red: #E10327;
}

@theme inline {
  --font-bangali: var(--font-noto-bengali);
  --font-poppins: var(--font-poppins);
  --red: var(--red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --red: #E10327;
  }
}

